*{
    padding: 0;
    margin: 0;
    list-style: none;
}
body{
    background-color: #f4f4f4;
}
#box{
    height:800px;
    position: relative;
}
#box:after{
    content:".";
    font-size: 0px;
    display: block;
    visibility: none;
    clear: both;
    height: 0;
}
.drag{
    width: 100%;
    height: 100%;
    color: #fff;
    cursor: pointer;
    background: #333;
    text-align: center;
    line-height: 100px;
}
.drag::after{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .1)
}

#box .block{
    float: left;
    outline: 1px solid #dfdfdf;
}
.container{
    padding-bottom: 100px!important;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    margin: 0px auto;
    display: flex;
    // justify-content: space-between;
    .aside{
        border: 2px solid #e4e4e4;
        border-top: none;
        height: 690px;
        overflow-y: scroll;
        margin-right: 30px;
        .title{
            width: 100%;
            height: 40px;
            background-color: #e4e4e4;
            text-align: center;
            line-height: 40px;
        }
        ul{
           width: 220px;
           display: flex;
           flex-wrap: wrap;
           li{
                width: 100px;
                height: 100px;
                background-color: #e4e4e4;
                text-align: center;
                line-height: 100px;
                margin: 5px;
                cursor: pointer;
                position: relative;
           }
           li::after{
                content: "";
                position: absolute;
                top: 0px;
                left: 0px;
                display: inline-block;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, .1)
            }
           li:hover{
                background: #ddfad7;
           }
           .act:hover{
                background: #88BF7D;
                color: #fff;
            }
           .act{
               background: #88BF7D;
               color: #fff;
           }
        }
    }
    .contnet{
        .c{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .update{
            cursor: pointer;
            width: 100px;
            height: 35px;
            border: none;
            border-radius: 5px;
            margin-right: 10px;
            color: #fff;
            background: #009688;
            margin-bottom: 5px;
        }
        .title{
            display: flex;
            justify-content: end;
            margin-bottom: 5px;
            button{
                cursor: pointer;
                width: 100px;
                height: 35px;
                border: none;
                border-radius: 5px;
                margin-right: 10px;
                color: #fff;
            }
            button:nth-child(1){
                background-color: #FF3A00!important;
            }
            .pre{
                background: #009688;
            }
            .default{
                border:1px solid #d2d2d2;
                background-color: transparent;
                color: #666;
            }
        }
    }
    .alert{
        display: none;
        align-items: center;
        justify-content: center;
        width: 80px;
        height: 30px;
        background-color: #000;
        color: #fff;
        text-align: center;
        position: absolute;
        cursor: pointer;
        border-radius: 5px;
        p{
            line-height: 25px;
            font-size: 15px;
        }
    }
    .alert p:hover{
        background:rgb(121, 0, 0);
        color: #fff;
    }
}